<h1>멋쟁이 사자처럼</h1>
<p>Let's Asciify</p>
<pre class="hack"><%= @hacktext %></pre>
    
<form action="home/index2" method="get">
    <h2>Select Font</h2>
        <select name="input_font" class="input_font">
            <option value="standard">standard</option>
            <option value="big">big</option>
            <option value="thin">thin</option></option>
        </select>
    <h2>이름을 입력하세요!</h2>
        <input type="text" name="input_text1" class="input_text1">
    <h2>Email주소를 입력하세요</h2>
        <input type="text" name="input_text2" class="input_text2">
    <h2>핸드폰 번호를 입력하세요</h2>
        <input type="text" name="input_text3" class="input_text3"><br><br>
        <input type="submit" value="Asciify!" class="submit_text">
</form>